.advantages .container {
  width: 280px;
}

.advantages__title {
  padding-left: 10px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  width: 334px;
  padding-left: 10px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
}


@media (min-width: 768px) {
  .advantages .container {
    width: 668px;
  }

  .advantages__title {
    padding-left: 0;
  }

  .advantages__item {
    padding-left: 0;
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: 1050px) {
  .advantages .container {
    width: 700px;
  }
}
