.button {
  box-sizing: border-box;
  display: block;
  width: 192px;
  padding: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #444444;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #444444;
  outline: none;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #444444;
  }
}

.button--green {
  padding: 16px;
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
}

@media (min-width: 768px) {
  .button {
    letter-spacing: normal;
  }
}
