.category__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.category__link {
  display: block;
  padding: 27px 30px;
  color: #ffffff;
  text-decoration: none;
}

.category__link--toys {
  display: block;
  background-color: #56c3b2;

  &:hover {
    background-color: #46c1ae;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #46c1ae;
  }
}

.category__link--interior {
  display: block;
  background-color: #63d1bb;

  &:hover {
    background-color: #59d5bc;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #59d5bc;
  }
}

.category__name {
  width: 150px;
  margin: 0;
}

@media (min-width: 768px) {
  .category__link {
    padding: 29px 30px 30px;
  }

  .category__name {
    font-size: 20px;
    line-height: 30px;
  }

  .category__container {
    width: 668px;
    margin: auto;
  }

  .category__list {
    display: flex;
  }

  .category__item {
    width: 334px;
  }
}

@media (min-width: 1050px) {
  .category__container {
    width: 1050px;
    margin: auto;
  }

  .category__item {
    width: 525px;
  }
}
