.copyright {
  margin: 0 auto;
}

.copyright__text {
  font-size: 19px;
  line-height: 23px;
}

.copyright__link {
  display: inline-block;
  width: 43px;
  height: 40px;
  background-color: red;
}

@media (min-width: 768px) {
  .copyright {
    display: flex;
    width: 185px;
    min-height: 80px;
    margin: 0;
  }
}
