.menu-link {
  position: relative;
  box-sizing: border-box;
  display: block;
  max-width: 260px;
  margin: 0 auto;
  padding: 26px 0 28px;
  padding-left: 45px;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: #000000;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--search:hover,
  &--search:focus,
  &--search:active,
  &--cart:hover,
  &--cart:focus,
  &--cart:active {
    opacity: 1;
  }

  &--search:hover .menu-link__text,
  &--search:focus .menu-link__text,
  &--cart:hover .menu-link__text,
  &--cart:focus .menu-link__text {
    opacity: 0.6;
  }

  &--search:active .menu-link__text,
  &--cart:active .menu-link__text {
    opacity: 0.3;
  }

  &--search:hover .menu-link__icon,
  &--search:focus .menu-link__icon,
  &--cart:hover .menu-link__icon,
  &--cart:focus .menu-link__icon {
    fill: #62d1ba;
    opacity: 1;
  }

  &--search:active .menu-link__icon,
  &--cart:active .menu-link__icon {
    fill: #62d1ba;
    opacity: 0.3;
  }
}

.menu-link__text {
  display: block;
}

.menu-link__icon {
  position: absolute;
  fill: #000000;
  opacity: 0.2;

  &--search {
    top: 31px;
    left: 2px;
  }

  &--cart {
    top: 30px;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .menu-link {
    max-width: none;

    &--catalog {
      margin-right: 36px;
      padding: 18px 0;
      font-size: 15px;
      line-height: 24px;
    }

    &--knitting {
      margin-right: 36px;
      padding: 18px 0;
      font-size: 15px;
      line-height: 24px;
    }

    &--cart {
      width: 265px;
      text-align: right;
      padding: 31px 0 33px;
      border-left: 1px solid #ececec;
    }

    &--search {
      width: 83px;
      height: 88px;
      padding: 0;
      border-left: 1px solid #ececec;
    }
  }

  .menu-link__text {
    &--search {
      display: none;
    }
  }

  .menu-link__icon {
    position: absolute;

    &--search {
      top: 36px;
      left: 33px;
    }

    &--cart {
      top: 35px;
      left: 31px;
    }
  }
}

@media (min-width: $desktop-width) {
  .menu-link {
    &--cart {
      width: 267px;
      margin: 0;
      padding: 31px 2px 33px 0;
      font-size: 17px;
      line-height: 24px;
    }

    &--catalog {
      width: 184px;
      margin: 0;
      padding: 31px 0 33px;
      font-size: 17px;
    }

    &--knitting {
      box-sizing: border-box;
      width: 216px;
      margin: 0;
      padding: 31px 0 33px 34px;
      font-size: 17px;
    }

    &--new {
      padding: 18px 0;
      padding-left: 0;
      font-size: 15px;
    }

    &--sale {
      padding: 18px 0;
      padding-left: 0;
      font-size: 15px;
    }
  }
}
