.page-title-wrapper {
  width: 100%;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 76px;
  background-color: #f1f1f1;
}

@media (min-width: 768px) {
  .page-title-wrapper {
    padding-top: 95px;
    padding-bottom: 91px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: center bottom -1px;
    background-size: 768px 24px;
  }
}

@media (min-width: 1150px) {
  .page-title-wrapper {
    padding-top: 93px;
    padding-bottom: 120px;
    background-size: 1150px 34px;
  }
}
