.page-footer {
  background-color: #f1f1f1;
}

.page-footer__container {
  padding: 0 30px;
}

.page-footer__logo-wrapper {
  display: none;
}

.page-footer__social {
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 43px;
    padding-bottom: 40px;
  }

  .page-footer__container {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
  }

  .page-footer__logo-wrapper {
    display: block;
    width: 184px;
    padding-top: 8px;
  }

  .page-footer__logo-link {
    display: block;
    width: 104px;

    &:hover .page-footer__logo,
    &:focus .page-footer__logo {
      fill: #46c1ae;
      cursor: pointer;
    }

    &:active .page-footer__logo {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }

  .page-footer__logo {
    width: 104px;
    height: 34px;
    fill: #231f20;
  }

  .page-footer__social {
    width: 180px;
    padding: 0;
    box-shadow: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__container {
    width: 1050px;
    padding: 0;
    margin: 0 auto;
  }
}
