.page-header {
  box-sizing: border-box;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  min-height: 80px;
  margin-bottom: 316px;
}

.page-header__container {
  position: relative;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 22px;
}

.page-header__menu-button {
  display: none;
}

.page-header__menu {
  display: block;
  position: absolute;
  top: 79px;
  left: 0;
}

.page-header__logo {
  display: block;
}

.page-header__cart {
  display: block;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.page-header__text {
  display: none;
}

@media (min-width: 768px) {
  .page-header {
    min-height: 89px;
    margin-bottom: 0;
  }

  .page-header__menu {
    display: none;
  }

  .page-header__text {
    position: absolute;
    top: 88px;
    right: 0;
    display: block;
    margin: 0;
    padding: 0;
  }
}
