.parameters {
  width: 100%;
  border-collapse: collapse;
}

.parameters__row {
  vertical-align: middle;
}

.parameters__data {
  font-size: 15px;
  line-height: 20px;
  padding-top: 9px;
  // padding-right: 27px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.parameters__data--field {
  width: 95px;
}

@media (min-width: 768px) {
  .parameters__data {
    padding-right: 0;
  }
}

@media (min-width: 1150px) {
  .parameters__data {
    padding-top: 7px;
    padding-bottom: 12px;
  }
}
