.promo-block {
  box-sizing: border-box;
  min-height: 282px;
  padding: 70px 30px 0;
  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -18px;
  background-size: 575px auto;
}

@media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .promo-block {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .promo-block {
    min-height: 626px;
    padding: 0;
    padding-top: 153px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center -1px;
    background-size: 1150px auto;
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .promo-block {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .promo-block {
    min-height: 626px;
    background-image: url("../img/hero-desktop@1x.jpg");
  }

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .promo-block {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }
}
