.social__list {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
  margin: 0 auto;
  padding: 0 0;
  list-style: none;
}

.social__link {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 60px;
  height: 60px;
  outline: none;

  &:hover .social__icon,
  &:focus .social__icon,
  &:active .social__icon {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon {
  position: absolute;

  &--insta {
    top: 19px;
    left: 17px;
  }

  &--fb {
    top: 15px;
    left: 20px;
  }

  &--twitter {
    top: 20px;
    left: 15px;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    margin: 0;
    padding: 0;
  }
}
