.social__list {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
  margin: 0 auto;
  padding: 0 0;
  list-style: none;
}

.social__link {
  box-sizing: border-box;
  display: block;
  width: 60px;
  height: 60px;
  outline: none;

  &:hover .social__icon-path,
  &:focus .social__icon-path,
  &:active .social__icon-path {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon--insta {
  margin-top: 20px;
  margin-left: 17px;
}

.social__icon--fb {
  margin-top: 15px;
  margin-left: 20px;
}

.social__icon--twitter {
  margin-top: 20px;
  margin-left: 14px;
}

@media (min-width: 768px) {
  .social__list {
    margin: 0;
    padding: 0;
  }
}
