.toggles {
  box-sizing: border-box;
  display: flex;
  width: 260px;
}

.toggles__button {
  box-sizing: border-box;
  width: 50%;
  height: 52px;
  padding: 23px 0;
  background-color: #ffffff;
  border: 1px solid #ececec;

  &:hover .toggles__arrow,
  &:focus .toggles__arrow {
    opacity: 0.6;
  }

  &:active .toggles__arrow {
    opacity: 0.3;
  }

  &--prev {
    padding-right: 3px;
    border-right: none;
  }

  &--next {
    padding-right: 6px;
  }
}

.toggles__arrow {
  position: relative;
  display: block;
  width: 48px;
  height: 4px;
  margin: 0;
  background-color: #000000;

  &:hover {
    opacity: 0.6;
  }

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 4px;
    background-color: #000000;
  }

  &::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 4px;
    background-color: #000000;
  }

  &--prev {
    margin: 0 auto;

    &::before {
      top: -5px;
      left: -3px;
      transform: rotate(-45deg);
    }

    &::after {
      top: 5px;
      left: -3px;
      transform: rotate(45deg);
    }
  }

  &--next {
    margin: 0 auto;

    &::before {
      top: -5px;
      right: -3px;
      transform: rotate(45deg);
    }

    &::after {
      top: 5px;
      right: -3px;
      transform: rotate(-45deg);
    }
  }
}


@media (min-width: $tablet-width) {
  .toggles {
    width: 174px;
  }

  .toggles__button {
    width: auto;
    border: none;
    padding: 23px 18.5px;

    &--prev {
      // padding-left: 20px;
      border-right: none;
    }

    &--next {
      // padding-left: 18px;
    }
  }
}
