.product__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product__wrapper {
  border: 1px solid #ededed;
}

.product__name {
  font-size: 17px;
  line-height: 24px;
}

.product__parameters {
  font-size: 13px;
  line-height: 30px;
}

.product__link {
  color: #000000;
  text-decoration: none;
}

.product__picture img {
  display: block;
  background-color: #e6e6e8;
}

.product__price {
  color: #000000;
}
